.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body{
  background-color: #82eecb;
}
button{
  border-block-color: white;
  padding: 12px 20px;
  background:#61a6fb;
  color:white;
  border:2px solid hsl(36, 15%, 94%);
  border-radius: 5px;
  /* text-transform: uppercase; */
  cursor:pointer;
 
}
div{
  align-items: center;
  justify-content: center;
  display : flex;

}
h5{
  color: white;
  background: transparent;
  text-shadow: 0 2px 2px black;
}
.App-link {
  color: #61dafb;
}
input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
